# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Noob\Desktop\c0920i1_VuTuanAnh\Project-CodeGym\Module2\12-2-2020\usevariable\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
